.notification {
    position: fixed;
    top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-family: Roboto, serif;
    font-size: 18px;
    width: fit-content;
    min-width: 150px;
    margin-bottom: 15px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.closeButton {
    overflow: hidden;
    position: relative;
    font-weight: bold;
    border-radius: 8px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s;
    -webkit-tap-highlight-color: transparent;
    color: #98ceb5;
}

.closeButton:hover {
    color: #7fbaa8;
}