.drawer {
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  right: 0;
  transition: transform 0.2s ease-out;
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drawer.isOpen {
  transform: translateX(0);
}

.drawer.isClosed {
  transform: translateX(100%);
}

.listStart > div {
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 8px;
  margin: 0px 10px;
}

.listStart > div:hover {
  background-color: lightgray;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px;
}

.menuListItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 5px 0px;
}

.menuListItem:hover {
  background-color: lightgray;
}

.newChatButton {
  color: inherit; /* Inherits the color from the parent */
  text-decoration: none; /* Removes underline */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #98ceb5;

  padding: 10px;
  border-radius: 8px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;

  transition: all 0.3s ease;
}

.newChatButton:hover {
  background-color: #7fbaa8;
}

.menuLink {
  color: inherit; /* Inherits the color from the parent */
  text-decoration: none; /* Removes underline */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;

  transition: all 0.3s ease;
  text-align: start;
  padding: 10px 20px;

  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px;
}

.menuLink:hover {
  background-color: lightgray;
}

.menuLink.active {
  font-weight: bold;
}

.listStart {
  transition: max-height 0.3s ease-in-out;
  max-height: 30px;
  overflow: hidden;
}

.open.listStart {
  max-height: 100%;
  overflow: auto;
  animation: hide-scroll 1.2s backwards;
}

@keyframes hide-scroll {
  from, to { overflow: hidden; }
}

.ArrowLeft {
  content: "";
  position: relative;
  top: -13px; /* Vertically centered */
  left: 80%;
  width: 10px;
  border-radius: 10px;
  height: 3px;
  background: black;
  transform: rotate(45deg); /* Start with a slight tilt */
  transition: transform 0.3s ease!important;
}

.ArrowRight {
  content: "";
  position: relative;
  top: -16px; /* Vertically centered */
  left: 82%;
  width: 10px;
  border-radius: 10px;
  height: 3px;
  background: black;
  transform: rotate(-45deg); /* Start with a slight tilt */
  transition: transform 0.3s ease!important;
}

.trashCanIcon svg {
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
}

.trashCanIcon:hover svg {
  color: #ff4949 !important;
}

.open > .ArrowLeft {
  transform: rotate(-45deg); /* Rotate to vertical, pointing down */
}

.open > .ArrowRight {
  transform: rotate(45deg); /* Rotate to vertical, pointing down */
}
