.drawer {
  width: 250px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-out;
  z-index: 4;
}

@media (max-width: 768px) {
  .drawer {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
  }

  .menuList li {
    padding-bottom: 30px!important;
    font-size: 20px!important;
    border-bottom: transparent!important;
    text-align: left;
    margin-left: 10px;
  }
}

.drawer.isOpen {
  transform: translateX(0);
}

.drawer.isClosed {
  transform: translateX(-100%);
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuList li {
  font-size: 16px;
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  padding-top: 30px; /* Extra space above the heading */
  padding-bottom: 10px;
}

.listStart > div {
  transition: color 0.3s ease;
  cursor: pointer;
}

.listStart > div:hover {
  color: #7fbaa8;
}

.menuList a {
  transition: color 0.3s ease;
}

.menuList a:hover {
  color: #7fbaa8;
}

.menuListItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menuListItem a {
  overflow: hidden;
}

.menuLink {
  color: inherit; /* Inherits the color from the parent */
  text-decoration: none; /* Removes underline */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.menuLink.active {
  font-weight: bold;
}

.listStart {
  transition: max-height 0.3s ease-in-out;
  max-height: 25px;
  overflow: hidden;
}

.open.listStart {
  max-height: 500px;
  overflow: auto;
  animation: hide-scroll 1.2s backwards;
}

@keyframes hide-scroll {
  from, to { overflow: hidden; }
}

.menuListInner > li {
  position: relative;
}

.menuListInner a {
  margin-right: 15px;
}

.menuListInner svg {
  margin-right: 15px;
}

.ArrowLeft {
  content: "";
  position: relative;
  top: -13px; /* Vertically centered */
  left: 88%;
  width: 10px;
  border-radius: 10px;
  height: 3px;
  background: black;
  transform: rotate(-45deg); /* Start with a slight tilt */
  transition: transform 0.3s ease!important;
}

.ArrowRight {
  content: "";
  position: relative;
  top: -16px; /* Vertically centered */
  left: 90%;
  width: 10px;
  border-radius: 10px;
  height: 3px;
  background: black;
  transform: rotate(45deg); /* Start with a slight tilt */
  transition: transform 0.3s ease!important;
}

.trashCanIcon svg {
  color: #98ceb5;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.trashCanIcon:hover svg {
  color: #7fbaa8 !important;
}

.menuList li.open {
  border-bottom: transparent;
}

.open > .ArrowLeft {
  transform: rotate(45deg); /* Rotate to vertical, pointing down */
}

.open > .ArrowRight {
  transform: rotate(-45deg); /* Rotate to vertical, pointing down */
}
