.MessageBox {
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  margin-bottom: 10px;
  padding: 0px;

  max-width: 150px;
  width: 40vw;
}

.MessageBoxUser {
  position: relative;
  background: #e1e1e1;
  border-radius: .4em;
}

.MessageBoxUser:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.438em solid transparent;
  border-left-color: #e1e1e1;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.719em;
  margin-right: -1.337em;
}

.MessageBoxBot {
  position: relative;
  background: #98ceb5;
  border-radius: .4em;
}

.MessageBoxBot:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 1.438em solid transparent;
  border-right-color: #98ceb5;
  border-left: 0;
  border-bottom: 0;
  margin-top: -0.719em;
  margin-left: -1.337em;
}

.MessageText {
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.MessageSender {
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  align-items: flex-end;
}