.MessageBox {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 10px;
  width: 88vw;
  max-width: 768px;
}

.MessageBoxUser {
  display: flex;
  position: relative;
  background: #e1e1e1;
  border-radius: .8em;
  padding: 5px;
  justify-content: flex-end;
  align-content: flex-end;
}

.MessageBoxUser:after {
  content: '';
  position: absolute;
  right: 0;
  top: 70%;
  width: 0;
  height: 0;
  border: 1.438em solid transparent;
  border-left-color: #e1e1e1;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.719em;
  margin-right: -1.337em;
}

.MessageBoxBot {
  position: relative;
  background: #98ceb5;
  padding: 5px;
  border-radius: .8em;
  align-content: flex-start;
}

.MessageBoxBot:after {
  content: '';
  position: absolute;
  left: 0;
  top: 70%;
  width: 0;
  height: 0;
  border: 1.438em solid transparent;
  border-right-color: #98ceb5;
  border-left: 0;
  border-bottom: 0;
  margin-top: -0.719em;
  margin-left: -1.337em;
}

.MessageText {
  padding: 3px;
  margin: 0;
  align-items: center;
}

.MessageSender {
  font-weight: bold;
  width: fit-content;
  padding: 4px;
  padding-left: 12px;
  padding-right:12px;
  border-radius: 18px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.075);
}

.MessageContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}