.MessageBox {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 10px;
  width: 88vw;
  max-width: 768px;
}

.MessageBoxUser {
  display: flex;
  position: relative;
  background: #e1e1e1;
  border-radius: .8em;
  padding: 5px;
  justify-content: flex-end;
  align-content: flex-end;
}

.MessageBoxUser:after {
  content: '';
  position: absolute;
  right: 0;
  top: 70%;
  width: 0;
  height: 0;
  border: 1.438em solid transparent;
  border-left-color: #e1e1e1;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.719em;
  margin-right: -1.337em;
}

.MessageBoxBot {
  position: relative;
  background: #98ceb5;
  padding: 5px;
  border-radius: .8em;
  align-content: flex-start;
}

.MessageBoxBot:after {
  content: '';
  position: absolute;
  left: 0;
  top: 70%;
  width: 0;
  height: 0;
  border: 1.438em solid transparent;
  border-right-color: #98ceb5;
  border-left: 0;
  border-bottom: 0;
  margin-top: -0.719em;
  margin-left: -1.337em;
}

.MessageText {
  padding: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  margin: 0;
  align-items: center;
}

.MessageText a {
  text-decoration: none;
}

.MessageText pre code {
  font-family: 'Courier New', monospace; /* Sets a monospaced font for code */
  background-color: #e1e1e1; /* Light grey background */
  color: #333; /* Dark grey text color */
  padding: 8px; /* Adds space inside the code block */
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #ccc; /* Light grey border */
  display: block; /* Ensures it takes its own line */
  overflow-x: auto; /* Adds horizontal scrollbar if needed */
  white-space: pre-wrap; /* Maintains whitespace formatting */
}

.MessageText li {
  margin-bottom: 10px;
}


.MessageSender {
  font-weight: bold;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 18px;
  cursor: default;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.075);
}

.MessageContentContainer {
  display: flex;
  flex-direction: column;
}

.MessageBoxUserContentContainer {
  align-items: flex-end;
}

.MessageBoxBotContentContainer {
  align-items: flex-start;
}

.MessageReactions {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 2px;
  gap: 5px;
  border-radius: 10px;
  border: black 0.5mm solid;
}

.ReactionIcon {
  transition: color 0.3s ease;
}

.ReactionIcon:hover {
  cursor: pointer;
  color: #7fbaa8;
  text-shadow: black 5px 5px 5px;
  color: rgba(0, 0, 0, 0.15); /* Slight change in opacity */
  filter: drop-shadow(0 0 0.75rem rgb(0 0 0 / 0.4)); /* Change in filter */
}

.Active {
  cursor: pointer;
  color: #7fbaa8;
}