.DatenschutzContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ReturnButton {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-weight: bold;
    color: #070707;
    background-color: #06f88a;
    border: none;
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Space from the last list item */
    margin-bottom: 10px;
    width: 90%; /* To stretch within the container */
    box-sizing: border-box; /* To include padding and border in the width */
    text-align: center; /* Center the text */
}

@media (max-width: 768px) {
    .ReturnButton {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

.ReturnButton:hover {
    background-color: #05d677;
}