.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.dropdown-toggle {
    background-color: #98ceb5;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    margin-left: 12px;
    font-size: 16px;
    width: 90%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    left: 12px;
    min-width: 160px;
    width: 90%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 16px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    text-align: left;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-toggle:hover {
    background-color: #8cbea7;
}

.dropdown-item:hover {
    background-color: #e0e0e0;
}

.dropdown-item.active {
    background-color: #98ceb5;
    color: white;
}

.fade-in-top:hover{-webkit-animation:fade-in-top .4s linear both;animation:fade-in-top .4s linear both}

@-webkit-keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-top{0%{-webkit-transform:translateY(-50px);transform:translateY(-50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
