.footer {
  width: 100%;
  max-width: 768px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
  margin-right: 10px;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  -webkit-box-shadow: -1px -12px 60px -2px rgba(0,0,0,0.16);
  -moz-box-shadow: -1px -12px 60px -2px rgba(0,0,0,0.16);
  box-shadow: -1px -12px 60px -2px rgba(0,0,0,0.16);
}

.send-text-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.sendTextBox {
  width: 75%;
  padding: 15px 20px;
  font-size: 1rem;
  background: #e4e4e4;
  border: 1px solid #e0e0e0;
  margin-left: 10px;
  border-radius: 18px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.sendTextBox::placeholder {
  color: #a9a9a9;
}

.sendTextBox:focus {
  border-color: #98ceb5;
}
