.HeaderLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PT, serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    .HeaderLogo {
        flex-grow: 1;
        padding-left: 42px;
    }
}