h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

.logoText {
  font-size: 60px;
  color: #59c794;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .footerText {
    font-size: 0.75rem;
  }

  h1 {
    font-size: 30px;
  }

  .logoText {
    font-size: 40px;
  }

  h2 {
    font-size: 18px;
  }
}
