.App {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.App::-webkit-scrollbar {
  display: none;
}
.ActionButton {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-weight: bold;
  max-width: 300px;
  color: #070707;
  background-color: #ff9f9f; /* Pink background color */
  border: none;
  border-radius: 8px; /* Rounded corners */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Space from the last list item */
  width: 90%; /* To stretch within the container */
  box-sizing: border-box; /* To include padding and border in the width */
  text-align: center; /* Center the text */
}

.ActionButton:hover {
  background-color: #ff677a;
}

.BackgroundTextContainer {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}

.BackgroundDisclaimer {
  position: fixed;
  z-index: -2;
  bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0; /* Remove default padding */
  margin: 10px 0; /* Add some space above and below the list */
}

ul li {
  position: relative;
  padding-left: 20px; /* Space for custom bullets */
  margin-bottom: 8px; /* Space between list items */
  line-height: 1.5; /* Improve readability */
  font-size: 16px; /* Adjust font size */
  color: #333; /* Change text color */
}

ul li::before {
  content: '•'; /* Custom bullet symbol */
  position: absolute;
  left: 0;
  color: #5c8874; /* Color of the custom bullet */
  font-size: 20px; /* Size of the custom bullet */
  line-height: 1.2; /* Align bullet with text */
}


.BackgroundText {
  color: #bcbebd;
  font-family: PT, serif;
  font-weight: bold;
  user-select: none;
  cursor: default;
}

.fade-in-right {
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-left {
  animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-top {
  animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.LoaderContainer {
  width: 100%;
  display: flex;
    justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  color:#98ceb5;
  background:
          radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
          radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
          linear-gradient(to bottom left, currentColor 42%,#0000 43%) bottom left ,
          linear-gradient(to bottom right,currentColor 42%,#0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l3 1s infinite;
}
@keyframes l3 {
  to {transform:scale(1.8);opacity:0}
}
