.App {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}

.BackgroundTextContainer {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}

.BackgroundDisclaimer {
  position: fixed;
  z-index: -2;
  bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.BackgroundText {
  color: #bcbebd;
  font-family: PT, serif;
  font-weight: bold;
  user-select: none;
  cursor: default;
}
